.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style for Profile card */

.profile {
  display: flex;
  border: 1px solid;
}

.profile-image {
  height: 300px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1px 20px;
}

.profile-item {
  display: flex;
  margin: 10px 0;
}

/* Style for Clock */
.clock {
  text-align: center;
}

.clock h1 {
  color: #33cc66 !important;
}

.clock h2 {
  color: #cc3366;
}